$primary-color: #3498db;
$highlight-color: green;
$text-color: #333;
$border-color: #ccc;
$error-color: red;

.login-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;

  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: $primary-color; // Użycie koloru podstawowego
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      text-align: left;
      font-size: 1rem;
      margin-bottom: 5px;
      color: $text-color; // Użycie koloru tekstu
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid $border-color; // Użycie koloru obramowania
      border-radius: 5px;
      box-sizing: border-box;
      margin-top: 5px;
    }
  }

  .cta-button {
    background-color: $primary-color; // Użycie koloru podkreślenia
    color: white;
    padding: 15px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .error-message {
    margin-top: 20px;
    color: $error-color; // Użycie koloru błędu
    font-size: 0.9rem;
  }
  .register-button{
    background-color: $highlight-color;
    color: white;
    padding: 15px 25px;
    font-size: 1.1rem;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($highlight-color, 10%);
    }
  }
}
