# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Node modules
node_modules/

# Angular cache
.angular/cache/

# Build output
dist/
build/

# Logs and debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# IDE/Editor files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.tmp
*.bak

# Environments
src/environments/environment.*.ts

# System files
.DS_Store
Thumbs.db
