<app-navbar></app-navbar>

<div class="home-page-container">
  <section class="hero">
    <h2>Create quizzes and flashcards using AI</h2>
    <p>Create effective study materials in minutes – powered by artificial intelligence.</p>
    <a href="/login" class="cta-button">Get Started</a>
  </section>

  <section class="features">
    <div class="feature">
      <h3>Quiz Generation</h3>
      <p>AI helps you create quizzes based on the study materials you want to learn. The quizzes are designed with multiple choice questions and can be customized to suit your study preferences.</p>
    </div>
    <div class="feature">
      <h3>Educational Flashcards</h3>
      <p>Smartly designed flashcards that make learning and memorization easier. Each flashcard contains a question on one side and the answer on the other, helping reinforce your knowledge.</p>
    </div>
    <div class="feature">
      <h3>Fill-in-the-Blank Exercises</h3>
      <p>Turn study material into interactive fill-in-the-blank exercises to test your recall and understanding of key concepts.</p>
    </div>
    <div class="feature">
      <h3>Summarization</h3>
      <p>Generate concise summaries of any study material to help you focus on the most important points.</p>
    </div>
    <div class="feature">
      <h3>Text Translation</h3>
      <p>Translate your study materials into different languages to enhance your learning experience, making it easier to understand complex subjects in various languages.</p>
    </div>
    <div class="feature">
      <h3>True/False Questions</h3>
      <p>Create True/False questions based on the content to quickly check your understanding and retention of the material.</p>
    </div>
  </section>


  <section class="about">
    <h2>About QuizCraft</h2>
    <p>QuizCraft is an AI-powered tool that helps create quizzes and flashcards. Our app enables easy generation of materials that support effective learning.</p>
  </section>

  <footer>
    <p>&copy; 2024 QuizCraft - All rights reserved</p>
    <ul>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Terms & Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>
  </footer>
</div>
